body
{
    background-color: gray;
    font-family: Verdana;
    font-size: 20px;
    color: white;
}



h1
{
    font-size: 48px;
}

/*Nieodwiedzony link*/
a:link
{
    color:yellow

}

/*odwiedzony link*/
a:visited
{
    color:yellow
}

/*Najechany link*/
a:hover
{
    color: red;
}